*{
    font-family: 'poppins', sans serif;
}
body{
    background-image: url('um.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    
}
h1{
    color: black;
    font-size: 50px;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}

.cv{
    font-size: medium;
    margin: 129px ;
    .title{
        font-size: 29px;
        color: black;
    }
    .inf{
        color:silver;
       
    }

}
.page{
    color: black;
    font-size: 27px;
    margin: 120px;
}
