*{
    font-family: 'poppins', sans serif;
}
body{
    background-image: url('um.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    
}
.container{
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
}

h1{
    color: black;
    font-size: 50px;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}

.page{
    font-size: 25px;
}

.paragraph{
font-size: 20px;
}
#menu-wrapper {
	width: 1020px;
	height: 50px;
	margin: 0px auto;
	padding: 0px;
	background: #c1e702;
	border-radius: 10px;
}
 
#menu {
	margin: 0;
	padding: 0px 20px;
	list-style: none;
	line-height: 60px;
	letter-spacing: -1px;
	text-decoration: none;
	text-transform: lowercase;
	text-shadow: 2px 2px 2pxrgb(178, 231, 7);
	font-family: 'Abel', sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: rgb(194, 181, 214);
}

#menu li {
	float: left;
	margin-right: 1px;
}
 
#menu a {
	display: block;
	float: left;
	height: 50px;
	margin: 0px;
	color: #000000;
}
 
#menu .page {
	text-shadow: 2px 2px 2px rgb(178, 231, 7);
	background: #c1e702;
}
 
#menu a:hover {
	background: #ffffff;
	text-decoration: none;
	text-shadow: 2px 2px 2px rgb(178, 231, 7);
	color: #000000;
}
 
#menu span {
	padding: 0px 20px;
}

